.navbar{
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: black ;
    background-color: gainsboro;
}
.Bellow{
    margin: 10px;
    padding: 20px;
    text-align: center;
    color: black ;
    background-color: yellow;
}

.tabela{
    object-fit: cover;
    border-color: pink;
    margin: 50px;
    padding: 50px;
    text-align: center;
    display: flex;


}

.Hightable{
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: red;
    background-color: black;
    

}

#Repositor{
    display: flex;


}

.Lansya1{
   
}

.Lansya2{
    display: flex;
}